.game-container {
  max-width: 550px;
  margin: 0 5vw;
}

.players {
  width: 200px;
}

.top-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.timer {
  margin-left: auto;
}

.word {
  text-align: center;
  margin: 20px 0;
  word-wrap: break-word;
}
